.App {
  text-align: center;
  height: 100%;
  font-size: 13px;
  font-family: Inter;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-brand-header {
  width: 200px;
}

.App-brand-header-brand {
  font-size: 16px;
  font-weight: bold;
  color: #F2911B !important;
}

.App-brand-header-subtitle {
  font-size: 9px;
  color: #BAB7B7;
  text-align: right;
  margin-right: 1.5rem;
}

.main-area {
  background-color: #F3F5F9;
  height: 100%;
  text-align: center;
}

.main-area-contents {
  background-color: #F3F5F9;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  max-width: 800px;
}

.theme-nav-menu-item {
  font-size: 13px;
  font-weight: bold;
  color: #BAB7B7;
}

.theme-nav-menu-item {
  font-size: 13px;
  font-weight: bold;
  color: #BAB7B7;
}

.theme-content-menu-item {
  font-size: 13px;
  font-weight: bold;
  color: darkgray !important;
}

.theme-content-menu-divider {
  border: 1px solid #CFCDCD;
}


.theme-modal-dialog {
  text-align: center;
  height: 100%;
  font-size: 13px;
}

.theme-input {
  border: 0px;
  background-color: white;
  border-radius: 4px;
  min-width: 340px;
  border-color: #BAB7B7;
  border-style: solid;
  border-width: 0px;
  min-height: 30px;
  font-size: 13px;
}

.theme-input-border {
  border: 0px;
  background-color: white;
  border-radius: 4px;
  min-width: 340px;
  border-color: #BAB7B7;
  border-style: solid;
  border-width: 1px;
  min-height: 30px;
  font-size: 13px;
}

.theme-row {
  margin-top: 10px;
}

.theme-button {
  border-width: 0px;
}

.theme-button-icon {
  width: 40px;
  height: auto;
  color: #DCE0E2;
  margin-left: 0.5rem;
}

a:link, a:visited {
  /*background-color: #f44336;*/
  color: blue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  /*background-color: red;*/
  color: #282c34 !important;
}

.active {
  /*background-color: red;*/
  color: #282c34 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
