.App {
  text-align: center;
  height: 100%;
  font-size: 13px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-area {
  background-color: #F3F5F9;
  height: 100%;
  text-align: center;
}

.main-area-contents {
  background-color: #F3F5F9;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.theme-nav-menu-item {
  font-size: 13px;
}

.theme-modal-dialog {
  text-align: center;
  height: 100%;
  font-size: 13px;
}

.theme-input {
  border: 0px;
  background-color: white;
  border-radius: 5px;
  min-width: 200px;
  border-color: #BAB7B7;
  border-style: solid;
  border-width: 1px;
  max-height: 30px;
  font-size: 13px;
}

.theme-row {
  margin-top: 10px;
}

.theme-button {
  border-width: 0px;
}

.theme-button-icon {
  width: 40px;
  height: auto;
}

a:link, a:visited {
  /*background-color: #f44336;*/
  color: blue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  /*background-color: red;*/
  color: blue !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
